# Eclipse project
.buildpath
.project
.settings

# Netbeans project files
nbproject

# PhpStorm project files
.idea
atlassian-ide-plugin.xml

# Bootstrap
app/bootstrap*

# Symfony directories
app/logs/*
app/cache/*
web/uploads/*
web/bundles/*
web/assetic/*
web/js/*
web/css/*
vendor/*
build/*
composer.phar

# Configuration files
app/config/parameters.yml
