# Eclipse project
.buildpath
.project
.settings

# Bootstrap
app/bootstrap*

# Symfony directories
app/logs/*
app/cache/*
web/uploads/*
web/bundles/*
vendor/*
build/*
composer.phar

# Configuration files
app/config/parameters.ini

# google analytics file
src/Bricks/SiteBundle/Resources/views/_google_analytics.html.twig