<form action="{{ path('user_brick_delete', {'id': id}) }}" method="post" {{ form_enctype(form) }} onSubmit="return confirm('This operation cannot be undone. Confirm the deletion?');">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-mini">delete</button>
</form>