{% extends 'BricksWikiBundle:Default:layout.html.twig' %}

{% block wiki_main %}

    <h2>
        <i class="icon-book"></i> Brick
    </h2>

    A <b>brick</b> is a guide hosted on the <a href="https://symfonybricks.com">https://symfonybricks.com</a> platform.
    <br><br>
    It can be a small commented piece of code, or a long guide composed by code and comments, or just a text like a post on a blog.

{% endblock %}