{% extends "BricksUserBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span12">
        
            <h1>{{ 'registration.checkEmail.page_title'|trans({}, 'FOSUserBundle') }}</h1>
            
            <br><br>
            
            <p>
                {{ 'registration.checkEmail.message'|trans({'%login_url%': url('fos_user_security_login')}, 'FOSUserBundle')|raw }}
            </p>
            
            <br><br>
            
            <h3>
                {{ 'registration.checkEmail.congrats'|trans({}, 'FOSUserBundle') }}
            </h3>
            
        </div>
    </div>
    
{% endblock  %}