{% extends "BricksUserBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span12">

            <h1>{{ 'registration.confirmed.page_title'|trans({}, 'FOSUserBundle') }}</h1>
        
            <br><br>
            
            <p>
                {{ 'registration.confirmed.message'|trans({'%username%': user.username}, 'FOSUserBundle')|raw }}
            </p>
            
        </div>
    </div>
    
{% endblock %}