{% extends "BricksUserBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span12">

            <h1>Registration confirmed</h1>
        
            <br><br>
            
            <p>
                Congrats <b>{{ user.username }}</b>, your account is active.
            </p>
            
            <br>
            
            <p>
                SymfonyBricks team.
            </p>
            
        </div>
    </div>
    
{% endblock %}