{#
    Modal window to fetch the content of an url, and create a brick pre-populated
#}
<div id="modal-brick-from-url" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-brick-from-url-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modal-brick-from-url-label">{{ 'brick.fetch_url.title'|trans|raw }}</h3>
    </div>
    <div class="modal-body">

        <div id="url-wrapper">
            <p id="help">{{ 'brick.fetch_url.help'|trans|raw }}</p>
            <p class="error">{{ 'brick.fetch_url.error'|trans }}</p>
            <input type="text" name="url" id="import_url" value="vvv.tobiassjosten.net/symfony/trim-and-remove-twig-whitespace/"/>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="importLink">Fetch link content</button>
    </div>
</div>

<script>
    $(function() {
        var modalBrickFromUrl = $('#modal-brick-from-url');

        // on open event
        modalBrickFromUrl.on('show', function () {
            $(this).find('input').val('');
        })

        /**
         * handler to fetch the content of a url
         */
        $('#importLink').click( function() {

            var url = modalBrickFromUrl.find('#import_url').val();

            $.ajax({
                type:       "GET",
                url:        Routing.generate('fetch_url_content', { 'url': url }),
                cache:      false,
                beforeSend: function() {
                    modalBrickFromUrl.find('#importLink').attr("disabled", "disabled");
                    modalBrickFromUrl.find('.error').hide();
                },
                error:      function() {
                    modalBrickFromUrl.find('.error').show();
                },
                success:    function(data) {

                    var form = $("<form />")
                        .attr('action', Routing.generate('user_brick_new'))
                        .attr('method', 'post')
                        .append(
                            $('<textarea name="content" />').val(data.markdown)
                        )
                    ;
                    form.submit();
                },
                complete:   function() {
                    modalBrickFromUrl.find('#importLink').removeAttr("disabled");
                }
            });
        });

    });
</script>