{% extends 'BricksSiteBundle::layout.html.twig' %}

{# META TAGS blocks #}
{% set meta_title_content = "Brick not published | SymfonyBricks.com" %}
{% set meta_description_content = "The brick you requested is currently not published" %}

{% block meta_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_description_content %}{{ meta_description_content }}{% endblock %}
{% block meta_og_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_og_description_content %}{{ meta_description_content }}{% endblock %}
{# END META TAGS blocks #}

{% block main %}

    <div id="brick-not-published-wrapper">

        <div class="row">
            <div class="span12">
            
                <h1>
                    {% if 'it' == app.request.locale %}
                        Contenuto non disponibile
                    {% elseif 'es' == app.request.locale %}
                        Contenido no disponible
                    {% else %}
                        Content not available
                    {% endif %}
                </h1>
                
                <br><br>
                
                <p>
                    {% if 'it' == app.request.locale %}
                        Il contenuto al quale stai cercando di accedere esiste, ma è attualmente non pubblicato.
                    {% elseif 'es' == app.request.locale %}
                        El contenido al que estás intentando acceder existe, pero no está publicado actualmente.
                    {% else %}
                        The content you are trying to access exists, but it is currently not published.
                    {% endif %}
                </p>
                
            </div>
        </div>
        
    </div>
    
{% endblock %}