{% extends 'BricksSiteBundle::layout.html.twig' %}

{% block main %}

    <div id="brick-not-published-wrapper">

        <div class="row">
            <div class="span12">
            
                <h1>
                    {% if 'it' == app.request.locale %}
                        Contenuto non disponibile
                    {% else %}
                        Content not available
                    {% endif %}
                </h1>
                
                <br><br>
                
                <p>
                    {% if 'it' == app.request.locale %}
                        Il contenuto al quale stai cercando di accedere esiste, ma è attualmente non pubblicato.
                    {% else %}
                        The content you are trying to access exists, but it is currently not published.
                    {% endif %}
                </p>
                
            </div>
        </div>
        
    </div>
    
{% endblock %}