{% extends 'BricksSiteBundle::layout.html.twig' %}

{% block main %}

    <div id="contribute-wrapper">
    
        <div class="row">
            <div class="span12">
            
                <h1>Contribute to SymfonyBricks</h1>
                
                <p>
                    So you want to be involved, uh? Great! In this section you will find a way to help.
                </p>
                <br><br>
                
                <h3>Read the doc</h3>
                <p>
                    First of all, to better undestand the purpose of <a href="http://symfonybricks.com">SymfonyBricks</a> you can have a look at some docs:
                    <dl>
                        <dt><a href="https://github.com/inmarelibero/SymfonyBricks/blob/master/README.md" target="_new">README.md on github</a></dt>
                        <dd>sort of manifest of SymfonyBricks</dd>
                        <br>
                        <dt><a href="https://github.com/inmarelibero/SymfonyBricks/wiki/Get-a-working-local-copy:-instructions" target="_new">Hot to get a working local copy</a></dt>
                        <dd>wiki page on github on how to get a copy of symfonybricks.com to develop on a local machine</dd>
                    </dl>
                </p>
                
                <br>
                
                <h3>Contribute on the github repository</h3>
                <p>
                    The repository on github is <a href="https://github.com/inmarelibero/SymfonyBricks" target="_new">inmarelibero/SymfonyBricks</a>.
                </p>
                <p>
                    These are the currently open issues, just to give some suggestions on where to start from:
                </p>
                
                {% include 'BricksSiteBundle:Default:_contribute_githubissues.html.twig' %}
                
                <p>
                    Any idea about SymfonyBricks? open an issue <a href="https://github.com/inmarelibero/SymfonyBricks/issues" target="_new">here</a>.
                </p>
                
            </div>
        </div>
        
    </div>
    
{% endblock %}