{% extends 'BricksSiteBundle::layout.html.twig' %}

{# SEO blocks #}
{% block meta_title_content %}Contribute | SymfonyBricks.com{% endblock %}
{% block meta_description_content %}SymfonyBricks is an open source project: discover how you can contribute.{% endblock %}

{% block main %}

    <div id="contribute-wrapper">

        <div class="row">
            <div class="span12">

                <h1>
                    {% if 'it' == app.request.locale %}
                        Contribuisci a SymfonyBricks
                    {% else %}
                        Contribute to SymfonyBricks
                    {% endif %}
                </h1>

                <p>
                    {% if 'it' == app.request.locale %}
                        ...e così vuoi partecipare? Bene! In questa sezione troverai un modo per aiutare.
                    {% else %}
                        ...so you want to be involved, uh? Great! In this section you will find a way to help.
                    {% endif %}
                </p>
                <br><br>

                <h3>
                    {% if 'it' == app.request.locale %}
                        Leggi la documentazione
                    {% else %}
                        Read the doc
                    {% endif %}
                </h3>
                <p>
                    {% if 'it' == app.request.locale %}
                        Prima di tutto, per comprendere meglio l'obiettivo di <a href="http://symfonybricks.com">SymfonyBricks</a>, potresti dare un'occhiata ad un po' di documentazione:
                    {% else %}
                        First of all, to better understand the purpose of <a href="http://symfonybricks.com">SymfonyBricks</a>, you could have a look at some docs:
                    {% endif %}
                    <dl>
                        <dt>
                            <a href="https://github.com/inmarelibero/SymfonyBricks/blob/master/README.md" target="_new">
                                {% if 'it' == app.request.locale %}
                                    README.md su github
                                {% else %}
                                    README.md on github
                                {% endif %}
                            </a>
                        </dt>
                        <dd>
                            {% if 'it' == app.request.locale %}
                                un buon punto di partenza
                            {% else %}
                                a good starting point
                            {% endif %}
                        </dd>
                        <br>
                        <dt>
                            <a href="https://github.com/inmarelibero/SymfonyBricks/blob/master/doc/index.md" target="_new">
                                {% if 'it' == app.request.locale %}
                                    Indice della documentazione
                                {% else %}
                                    Documentation index
                                {% endif %}
                            </a>
                        </dt>
                        <dd>
                            {% if 'it' == app.request.locale %}
                                doc/index.md su github
                            {% else %}
                                doc/index.md on github
                            {% endif %}
                        </dd>
                        <br>
                        <dt>
                            <a href="https://github.com/inmarelibero/SymfonyBricks/blob/master/doc/manifest.md" target="_new">
                                {% if 'it' == app.request.locale %}
                                    Manifesto
                                {% else %}
                                    Manifest
                                {% endif %}
                            </a>
                        </dt>
                        <dd>
                            {% if 'it' == app.request.locale %}
                                manifesto sull'obiettivo di SymfonyBricks
                            {% else %}
                                manifest on SymfonyBricks purpose
                            {% endif %}
                        </dd>
                        <br>
                        <dt>
                            <a href="https://github.com/inmarelibero/SymfonyBricks/wiki/Get-a-working-local-copy:-instructions" target="_new">
                                {% if 'it' == app.request.locale %}
                                    Come installare in locale una copia di symfonybricks.com
                                {% else %}
                                    How to get a working local copy of symfonybricks.com
                                {% endif %}
                            </a>
                        </dt>
                        <dd>
                            {% if 'it' == app.request.locale %}
                                pagina del wiki su github su come ottenere una copia di symfonybricks.com sulla tua macchina locale
                            {% else %}
                                wiki page on github on how to get a copy of symfonybricks.com to develop on a local machine
                            {% endif %}
                        </dd>
                    </dl>
                </p>

                <br>

                <h3>
                    {% if 'it' == app.request.locale %}
                        Contribuisci al repository github
                    {% else %}
                        Contribute on the github repository
                    {% endif %}
                </h3>
                <p>
                    {% if 'it' == app.request.locale %}
                        Il repository github è <a href="https://github.com/inmarelibero/SymfonyBricks" target="_new">inmarelibero/SymfonyBricks</a>.
                    {% else %}
                        The repository on github is <a href="https://github.com/inmarelibero/SymfonyBricks" target="_new">inmarelibero/SymfonyBricks</a>.
                    {% endif %}
                </p>
                <br>
                <p>
                    {% if 'it' == app.request.locale %}
                        Queste sono le issues attualmente aperte su github: puoi iniziare dal leggerle e dal commentarne alcune.
                    {% else %}
                        These are the currently open issues on github: you can start by reading and commenting some of them
                    {% endif %}
                </p>

                <ul id="github-issues">
                    {% if 'it' == app.request.locale %}
                        caricamento delle issues github...
                    {% else %}
                        loading github issue...
                    {% endif %}
                </ul>

                <p>
                    {% if 'it' == app.request.locale %}
                        Hai un'idea riguardo SymfonyBricks? <a href="https://github.com/inmarelibero/SymfonyBricks/issues" target="_new">Apri una issue su github.</a>
                    {% else %}
                        Any idea about SymfonyBricks? <a href="https://github.com/inmarelibero/SymfonyBricks/issues" target="_new">Open an issue on github.</a>
                    {% endif %}
                </p>

            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts_footer %}
    <script type="text/javascript">
        /**
         * load github issues
         */
        jQuery(function($) {
            $('#github-issues').githubIssues();
        });
    </script>
{% endblock %}
