{% extends "BricksUserBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span6 offset3">
        
            <h1>Request submitted</h1>
            
            <br><br>

            <p>
                An email has been sent to you email account.
            </p>
            
            <p>
                It contains a link you must click to reset your password.
            </p>
                
        </div>
    </div>

{% endblock %}