{% extends "BricksUserBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span12">
        
            <h1>Request already sent</h1>
            
            <br><br>

            <p>
                <i class="icon-exclamation-sign"></i> A requested to reset your password has already been requested within the last 24 hours.
            </p>
            
            <p>
                Please check your email account.
            </p>
            
        </div>
    </div>
    
{% endblock %}