{% extends "BricksSiteBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span6 offset3">
        
            <h1>Request password reset</h1>
            
            <br><br>
            
            <p>
                Insert your email address in the box below.
                <br>
                You will recive an email with the instructions to reset your password.
            </p>
            
            <br><br>
            
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request security-form">
                <div>
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                    {% endif %}
                    <label for="username">Username or email address</label>
                    <input type="text" id="username" name="username" required="required" />
                </div>
                <div>
                    <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" class="btn"/>
                </div>
            </form>
            
        </div>
    </div>
    
{% endblock %}