{% extends "BricksSiteBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span6 offset3">
        
            <h1>Reset password</h1>
            
            <br><br>
            
            <p>
                Choose your new password
            </p>
            
            <br><br>

            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset security-form">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" class="btn"/>
                </div>
            </form>
            
        </div>
    </div>
    
{% endblock %}