{% extends 'BricksWikiBundle:Default:layout.html.twig' %}

{# META TAGS blocks #}
{% set meta_title_content = "Wiki - SymfonyBricks.com | SymfonyBricks.com" %}
{% set meta_description_content = "Wiki section about SymfonyBricks.com." %}

{% block meta_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_description_content %}{{ meta_description_content }}{% endblock %}
{% block meta_og_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_og_description_content %}{{ meta_description_content }}{% endblock %}
{# END META TAGS blocks #}

{% block wiki_main %}

    <h2>
        <i class="icon-book"></i> SymfonyBricks.com
    </h2>

    SymfonyBricks is an open source project, based on Symfony2 (v. 2.1.x). It was published on <a href="https://symfonybricks.com">https://symfonybricks.com</a> on the 1st of October, 2012.

    <br><br>


    <h3>Purpose</h3>

    <b>Build a social platform where developers can share their experience about Symfony</b>
    <br>
    Everyone can create a brick (guide), talking about a problem he solved or a smart method to implement something.
    This is shared with the whole community through a dedicated page on symfonybricks.com, with correct meta tags, well formatted, info about the author etc..
    You can also share a guide you alread put on your blog: by specifying a canonical url your post will not be penalized in search results.

    <br><br>

    <b>Develop the code of symfonybricks.com in a open source way</b>
    <br>
    The whole code is hosted on <a href="https://github.com/inmarelibero/SymfonyBricks" target="_blank">github</a>: this means that you can study the code of the entire website!
    Being open to user reviews and contributions, the code of symfonybricks.com itself aims to be a collection of best practices.

    <h3>Why "SymfonyBricks"?</h3>

    Thinking to the website or platform that you are going to create as something you <b>build</b>, we can imagine that you are buildng a small house, or a large skyscraper.
    <br>
    For any of the two you choose to build, Symfony can be your <i>concrete</i>: something binding all togheter.
    <br>
    The guides of SymfonyBricks should help you to build your house and to use your concrete: they should be like <b>bricks</b>.
    This is the idea beyond SymfonyBricks; use as many bricks as your building needs, and share as many bricks as you can, to let other developers use them.

{% endblock %}
