/******************************************************************************************
USER.LESS

general rules for user reserved area

class .user is appended to the tag <body> when UserBundle\Resources\view\layout.html.twig
is loaded
******************************************************************************************/

body.user {
    
    /* main navbar */
    #main-navbar {
        .navbar-inner {
            border:  0px;
        }
    }
    
    /* user navbar */
    #user-navbar {
        top:    40px;
        .navbar-inner {
            border:  0px;
            background: white;
            
            ul.nav {
                li {
                    &:hover {
                        background: #F1F1F1;
                    }
                }
            }
        }
    }
}
